$time-01: "\f08a";
$time-02: "\f08b";
$time-03: "\f08c";
$time-04: "\f08d";
$time-05: "\f08e";
$time-06: "\f08f";
$time-07: "\f090";
$time-08: "\f091";
$time-09: "\f092";
$time-10: "\f093";
$time-11: "\f094";
$time-12: "\f089";
$time-13: "\f08a";
$time-14: "\f08b";
$time-15: "\f08c";
$time-16: "\f08d";
$time-17: "\f08e";
$time-18: "\f08f";
$time-19: "\f090";
$time-20: "\f091";
$time-21: "\f092";
$time-22: "\f093";
$time-23: "\f094";
$time-00: "\f089";