.wi-time-1:before {content: $time-01;}
.wi-time-02:before {content: $time-02;}
.wi-time-03:before {content: $time-03;}
.wi-time-04:before {content: $time-04;}
.wi-time-05:before {content: $time-05;}
.wi-time-06:before {content: $time-06;}
.wi-time-07:before {content: $time-07;}
.wi-time-08:before {content: $time-08;}
.wi-time-09:before {content: $time-09;}
.wi-time-10:before {content: $time-10;}
.wi-time-11:before {content: $time-11;}
.wi-time-12:before {content: $time-12;}
.wi-time-13:before {content: $time-13;}
.wi-time-14:before {content: $time-14;}
.wi-time-15:before {content: $time-15;}
.wi-time-16:before {content: $time-16;}
.wi-time-17:before {content: $time-17;}
.wi-time-18:before {content: $time-18;}
.wi-time-19:before {content: $time-19;}
.wi-time-20:before {content: $time-20;}
.wi-time-21:before {content: $time-21;}
.wi-time-22:before {content: $time-22;}
.wi-time-23:before {content: $time-23;}
.wi-time-00:before {content: $time-00;}